<h3>Lista wpisow</h3>

<p><%= link_to 'Dodaj nowy wpis', new_posts2_path, class: 'btn btn-success' %></p>

<table class="table table-striped">
  <thead>
  <tr>
    <th>#</th>
    <th>Tytul</th>
    <th>Autor</th>
    <th>Opublikowany</th>
    <th>Tresc</th>
    <th>Akcje</th>
  </tr>
  </thead>
  <tbody>
      <% @posts2.each do |post| %>
          <tr>
            <td><%= post.id %></td>
            <td><%= post.title %></td>
            <td><%= post.author %></td>
            <td><%= post.published %></td>
            <td><%= post.body %></td>
          </tr>
      <% end %>
  </tbody>
</table>

