<% if user_signed_in? %>
    <p class="lead">
      Witaj w naszej księdze gości!
      <%= link_to "Dodaj własny wpis już teraz.", new_post_path %>
    </p>
<% else %>
    <p class="lead">
      Musisz się zalogować, aby dodać wpis.
      <%= link_to "Zaloguj się", new_user_session_path %>
    </p>
<% end %>







<pre>
   <%= I18n.localize Time.now, format: :long %>
  <%= I18n.localize Time.now, format: :short %>
  <%= l Date.today, format: :short %>                     <!-- Tutaj formatujemy dzisiejsza date -->
  <%= number_with_delimiter(1123131232.1231231231) %>     <!-- Tutaj formatujemy liczbe, w jezyku amerykanskim tysiace od milionow miliardow oddziela sie kropka-->
  <%= number_to_currency 1254.4444444 %>                  <!-- Ta metoda formatuje dane jako walute w zl lub usd -->
  <%= distance_of_time_in_words(rand(10_000).seconds) %>  <!-- A ta metoda to slowne odleglosc czasowa  -->
</pre>



<p class="lead">
  Witaj w naszej ksiedze gosci!
  <h1>
    <%= t "index.hello" %>
    <%= link_to "Dodaj wlsny wpis juz teraz", new_post_path %>
  </h1>
</p>


<div id="content-placeholder">
    <%= link_to "Niespodzianka", surprise_posts_path, class: "btn btn-info", remote: true %>
</div>



<% @posts.each do |post| %>
    <blockquote>
      <p><%= post.body %></p>
      <foother><cite><%= post.author %></cite></foother>
    </blockquote>
<% end %>


<p>
  <%= paginate @posts %>
</p>


<h4>
  <%= link_to "Phone", phones_path %>
</h4>